.normal {
  color: #afb29e;
  font-size: 20px;
}

.heading {
  color: #f1f2ff;
  font-size: 35px;
  font-weight: 500;
}
.heading1 {
  color: #f1f2ff;
  font-size: 20px;
}
input[type="text"],
textarea {
  color: #f1f2ff;
  background-color: #161d29;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border: 1px solid black;
}
input[type="password"],
textarea {
  color: #f1f2ff;
  background-color: #161d29;
  border-radius: 5px;
  width: 100%;
  border: 1px solid black;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}
.iname1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heading1::after {
  content: "*";
  font-size: 15px;
  color: red;
  margin-left: 2px;
}
.rightlogin {
  width: 35%;
}
.logincontainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  /* height: 100vh; */
}
.leftlogin {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 30px;
}
.forgotpass {
  /* display: inline !important;  */
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 20px;
}
