.password{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.iname1{
    display: flex;
    flex-direction: column;
    gap:10px ;
}
.normal{
    color: #AFB29E;
    font-size: 20px;
}

.heading{
    color:#F1F2FF;
    font-size: 35px;
    font-weight:500;
}
.heading1{
    color:#F1F2FF;
    font-size: 20px;
}


.iname1 input[type="text"] {
    color: #F1F2FF;
    background-color : #161D29; 
    border-radius: 5px;
    width: 237px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid black;
}
.iname1  input[type="password"] {
    color: #F1F2FF;
    background-color : #161D29; 
    border-radius: 5px;
    width: 237px;
    border: 1px solid black;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}