/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   
        0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
        12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }
.normal{
    color: #AFB29E;
    font-size: 20px;
}

.heading{
    color:#F1F2FF;
    font-size: 35px;
    font-weight:500;
}
.heading1{
    color:#F1F2FF;
    font-size: 20px;

}

.logincontainer{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}
.leftlogin{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
}
.selectionbar{
    height: 50px;
    width: 45%;
    display: flex;
    flex-direction: row;
    gap:30px;
    border: 1px solid #AFB29E;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    background-color: #161D29;
}
.selectionbarinner{
    border: 1px solid #AFB29E;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}
.name
{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 70px;
}
.password{
    display: flex;
    flex-direction: row;
    gap: 70px;
}
input[type="text"], textarea {
    color: #F1F2FF;
    background-color : #161D29; 
    border-radius: 5px;
    width: 237px;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    border: 1px solid black;
}
input[type="password"], textarea {
    color: #F1F2FF;
    background-color : #161D29; 
    border-radius: 5px;
    width: 237px;
    border: 1px solid black;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
}
.iname1{
    display: flex;
    flex-direction: column;
    gap:10px ;
}
.heading1::after {
    content: "*";
    font-size: 15px;
    color: red;
    margin-left:2px;
  }

.rightlogin
{
    width: 40%;
}